In [1]:
a=10

In [2]:
a

10

In [3]:
a='c'

In [4]:
type(a)

str

In [7]:
int("1234")

1234

In [6]:
int()

0

In [9]:
int('ascd')

ValueError: invalid literal for int() with base 10: 'ascd'

In [13]:
print("Hello World")
print('hello world')

Hello World
hello world

In [12]:
print("123")

123

In [14]:
age=23
print("My age is ",age)

My age is  23

In [15]:
age=23
print("My age is {age}")

My age is {age}

In [17]:
# f string in python
age=23
print(f"My age is {age}")

My age is 23

In [23]:
# format()
name="Driptarshi Ray"
age="23"
height="163 cm"
print("My name is {} and age is {} and height is {}.".format(name,age,height))

My name is Driptarshi Ray and age is 23 and height is 163 cm.

In [24]:
# format()
name="Driptarshi Ray"
age="23"
height="163 cm"
print("My name is {} and age is {} and height is {}.".format(age,name,height))

My name is 23 and age is Driptarshi Ray and height is 163 cm.

In [25]:
# place holder      
print("My name is {fill1} and age is {fill2} and height is {fill3}.".format(fill2=age,fill3=height,fill1=name))

My name is Driptarshi Ray and age is 23 and height is 163 cm.

In [27]:
name="Driptarshi Ray"
age=23
degree="BSc"

"My age is 23 and i have completed: my degree of BSc with the name of Driptarshi Ray"
print("My age is {fill1} and i have completed: my degree of {fill2} with the name of {fill3}".format(fill2=degree,fill3=name,fill1=age))

My age is 23 and i have completed: my degree of BSc with the name of Driptarshi Ray

## Control flow

### Decision making

In [ ]:
# if statements
age=18
if age>=18:
    print("Eligible to vote")

Eligible to vote

In [34]:
17<18

True

In [35]:
18<18

False

In [37]:
# if statements
age=17
if age<18:
    print("Not Eligible to vote")

Not Eligible to vote

In [40]:
18==18

True

In [41]:
input()

 Input1

'Input1'

In [42]:
school=input("Enter name of School")

Enter name of School Holy Palace

In [43]:
school

'Holy Palace'

In [44]:
height=int(input('enter your height'))

enter your height 163

In [45]:
height

163

In [46]:
print(height)

163

In [47]:
type(height)

int

In [48]:
type(school)

str

In [ ]:
## Task
## Take input of your age
## check whether age >=18 and <=45
## display a message you are young blood

In [71]:
age=int(input("Enter your age"))

Enter your age 23

In [72]:
age

23

In [59]:
23<=45

True

In [60]:
23>=18

True

In [61]:
45>=45

True

In [63]:
45<=45

True

In [73]:
if age>=18 and age<=45:
    print("you are young blood")

you are young blood

In [78]:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter your age 23

you are young blood

In [ ]:
## if else statement

In [80]:
age=int(input("Enter your age"))
if age>=18 and age<=100:
    print("you are eligible to drink alcohol")
else:
    print("Sorry! You are not eligible to drink alcohol")

Enter your age 17

Sorry! You are not eligible to drink alcohol

In [81]:
age=int(input("Enter your age"))
if age>=18 and age<=100:
    print("you are eligible to drink alcohol")
else:
    print("Sorry! You are not eligible to drink alcohol")

Enter your age 22

you are eligible to drink alcohol

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <1000 rs 30% off
## print the product price after removing the discount

In [87]:
price=int(input("Enter product price"))
if price>1000:
    print(int(price)-int(price)*20/100)
if price<1000:
    print(int(price)-int(price)*30/100)

Enter product price 500

350.0

In [88]:
price=int(input("Enter product price"))
if price>1000:
    print(int(price)-int(price)*20/100)
if price<1000:
    print(int(price)-int(price)*30/100)

Enter product price 2000

1600.0

In [90]:
price=int(input("Enter product price"))
if price>1000:
    print("Final price price of the product is {}.".format(price-price*20/100))
if price<1000:
    print("Final price price of the product is {}.".format(price-price*30/100))

Enter product price 500

Final price price of the product is 350.0.

In [91]:
price=int(input("Enter product price"))
if price<1000:
    print("Final price price of the product is {}.".format(price-price*0.3))
else:
    print("Final price price of the product is {}.".format(price-price*0.2))

Enter product price 500

Final price price of the product is 350.0.

In [92]:
price=int(input("Enter product price"))
if price<1000:
    print("Final price price of the product is {}.".format(price-price*0.3))
else:
    print("Final price price of the product is {}.".format(price-price*0.2))

Enter product price 2000

Final price price of the product is 1600.0.

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## print the product price after removing the discount
## product >= 2000 and <=3000 rs 30% off
## product price==2999  u will get a additional gift
## print the product price after removing the discount
## product price <=1000 rs and <2000 rs 40% off
## print the product price after removing the discount

In [97]:
price=int(input("Enter product price"))
if price>3000:
    print("Final price price of the product is {}.".format(price-price*0.2))
if price>=2000 and price<=3000:
    print("Final price price of the product is {}.".format(price-price*0.3))
if price<=1000 and price<=2000:
          print("Final price price of the product is {}.".format(price-price*0.4))

Enter product price 5000

Final price price of the product is 4000.0.

In [96]:
price=int(input("Enter product price"))
if price>3000:
    print("Final price price of the product is {}.".format(price-price*0.2))
if price>=2000 and price<=3000:
    print("Final price price of the product is {}.".format(price-price*0.3))
if price<=1000 and price<=2000:
          print("Final price price of the product is {}.".format(price-price*0.4))

Enter product price 3000

Final price price of the product is 2100.0.

In [101]:
price=int(input("Enter product price"))
if price>3000:
    print("Final price price of the product is {}.".format(price-price*0.2))
if price>=2000 and price<=3000:
    print("Final price price of the product is {}.".format(price-price*0.3))
if price<=1000 and price<=2000:
          print("Final price price of the product is {}.".format(price-price*0.4))

Enter product price 1000

Final price price of the product is 600.0.

In [116]:
price=int(input("Enter product price"))
if price>3000:
    if price==4000:
        print('You won a trip to London')
    print("Final price price of the product is {}.".format(price*0.8))
elif price>=2000 and price<=3000:
    if price==2999: ## nested if or inside if
        print("Congtars! You won an additional gift")
    print("Final price price of the product is {}.".format(price*0.7))
elif price>=100 and price<=2000:
    print("Final price price of the product is {}.".format(price*0.6))
else:
    print("Let's drink coke")

Enter product price 2000

Final price price of the product is 1400.0.

In [1]:
## comparison operator
True==True

True

In [3]:
## Single statement Suites
val=int(input("Enter the value"))
if val<=999: print("The value is less than 999")
else:
    print("Go home")

Enter the value 1000

Go home

## Loop statements
1. while loop
2. for loop
3. nested loop
4. Loop control (break, continue, pass)

### While loop

In [21]:
# while loop
joining_age=21
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print ("Its time for retirement")
 
print("Welcome to ABC ATM")

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement
Welcome to ABC ATM

In [18]:
### ATM machine with1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("No Cash")

1000
900
800
700
600
500
400
300
200
100
No Cash

### For loop

In [22]:
lst=["Driptarshi Ray",True,1,2,3,4,5,0,"England","Football"]

In [23]:
type(lst)

list

In [24]:
lst[0]

'Driptarshi Ray'

In [25]:
type(lst[0])

str

In [26]:
type(lst[3])

int

In [30]:
lst[4]

4

In [31]:
lst

['Driptarshi Ray', 1, 2, 3, 4, 5, 0, 'England', 'Football']

In [40]:
for x in lst:
    print(x)

Driptarshi Ray
1
2
3
4
5
0
England
Football

In [44]:
fruit_basket=["Mango","Apple","Banana","grapes"]

In [51]:
for a in fruit_basket:
    print(a)
    if a=="Banana":
        print("Ei nao kola")

Mango
Apple
Banana
Ei nao kola
grapes

In [52]:
school="HPMI"
for x in school:
    print(x)

H
P
M
I

In [54]:
school[0]

'H'

In [56]:
school="HPMI"
for x in school:
    print(x,end="")

HPMI

### Nested loop

In [58]:
# range

for i in range(1,10):
    print(i)
    
    
## Note: will take first element but will exclude the last element

1
2
3
4
5
6
7
8
9

In [59]:
for i in range(1,10,2):
    print(i)   
    
 ## Step size is 2

1
3
5
7
9

In [60]:
for i in range(1,10,3):
    print(i)
    
## Step size is 3

1
4
7

In [66]:
## nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [3]:
## Loop controls
## Break and continue

fruit_basket=["Mango","Apple","Banana","grapes"]

In [5]:
# break

for i in fruit_basket:
    if i=="Banana":
        print("Ei nao kola")
        break
    print(i)

Mango
Apple
Ei nao kola

In [72]:
# pass

for i in fruit_basket:
    if i=="Banana":
        print("Ei nao kola")
        pass
    print(i)

Mango
Apple
Ei nao kola
Banana
grapes

In [73]:
## continue

for i in fruit_basket:
    if i=="Banana":
        print("Ei nao kola")
        continue
    print(i)    
    
## Note: It will skip Banana.

Mango
Apple
Ei nao kola
grapes

In [12]:
i=10

if(i>9 and i<12):
    print("The condition is matching")

The condition is matching